@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply m-0 box-border overflow-x-hidden scroll-smooth bg-background p-0 font-primary;
  }

  h1,
  h2 {
    @apply font-primary;
  }

  h3,
  h4,
  h5,
  h6,
  p,
  strong,
  span,
  bold {
    @apply font-secondary;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .icons {
    @apply transition hover:cursor-pointer hover:opacity-50;
  }

  .swiper-pagination-bullet {
    @apply !mr-3 h-3 w-3 bg-primary/50;
  }

  .swiper-pagination-bullet-active {
    @apply bg-primary;
  }

  .white-neon {
    color: #fff;
    text-shadow: 0 0 5px #fff;
  }

  .yellow-neon {
    color: #f9ce41;
    text-shadow: 0 0 5px #f9ce41;
  }

  .yellowGradient {
    @apply bg-gradient-to-r from-primary to-yellow-600 bg-clip-text font-bold uppercase text-transparent;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}
